<div style="visibility: hidden">
  <mat-form-field  color="accent" class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input #selectedDate matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
</div>

<button mat-button color="primary" (click)="saveToNewSheet($event)">Save multisheets Data</button>
<button mat-button color="primary" (click)="saveToNewJson($event)">Save Back End Data</button>
<button mat-button color="primary" (click)="addBigData($event)">Add formula to totals column</button>
<main #widget class='spreadsheet-container'></main>
